# Python bytecode and caches
__pycache__/
*.py[cod]

# Virtual environment folders
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Python distribution files
dist/
build/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Environment variables
.env

# Docker-related files
.dockerignore
docker-compose.override.yml

# Log files
logs/
*.log

# Batch files
*.bat

# Windows specific files
Thumbs.db
Desktop.ini

# Mac specific files
.DS_Store

# IDE settings (VSCode, PyCharm, etc.)
.vscode/
.idea/
